<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Le Chef </title>
    <meta charset="UTF-8"/>
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>
<h1>Welcome to the Le Chef website</h1>
<br/><br/>
<h3>Please fill the from and submit it !</h3>
<form method="post" th:action="@{/}" th:object="${patient}">
    <label>Name </label>
    <input th:field="*{name}" type="text"/>
    <p th:errors="*{name}" th:if="${#fields.hasErrors('name')}">name can not be empty!</p>
    <br/>
    <label>Symptoms</label>
    <input th:field="*{symptoms}" type="text"/>
    <p th:errors="*{symptoms}" th:if="${#fields.hasErrors('symptoms')}">name can not be empty!</p>
    <br/><br/>
    <button type="submit">submit</button>
</form>
<a th:href="@{/invoices}">Go to the invoices page</a>
</body>
</html>
